<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header bg-success text-white" style="font-weight: bold;">
        To Do
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <input type="text" placeholder="To do item" class="form-control" [(ngModel)]="todoObj.todoItem">
          </div>
          <div class="col-md-2">
           <input type="color" class="form-control" [(ngModel)]="todoObj.color">
          </div>
          <div class="col-md-2">
            <button class="btn btn-primary btn-sm" (click)="onItemAdd()" >Add</button>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <div class="row text-center">
              <div class="col-md-4 pt-2" *ngFor="let item of todoItemsArray">
                <div class="todoItem" [style.background-color]="item.color">
                  {{item.todoItem}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">

  </div>
</div>
