<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <app-accordion [headerText]="'Basic Details'" [accordionColor]="'bg-primary'">
                <div class="row">
                    <div class="col-md-12">
        
                        <div class="row">
                            <div class="col-3">
                                <div class="form-outline">
                                    <label class="form-label" for="form6Example1">First name</label>
                                    <input type="text" id="form6Example1" class="form-control" />
        
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-outline">
                                    <label class="form-label" for="form6Example2">Last name</label>
                                    <input type="text" id="form6Example2" class="form-control" />
        
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="form-outline ">
                                    <label class="form-label" for="form6Example3">Contact No</label>
                                    <input type="text" id="form6Example3" class="form-control" />
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-outline ">
                                    <label class="form-label" for="form6Example3">Alt Contact No</label>
                                    <input type="text" id="form6Example3" class="form-control" />
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-outline ">
                                    <label class="form-label" for="form6Example3">Email</label>
                                    <input type="text" id="form6Example3" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-outline ">
                                    <label class="form-label" for="form6Example4">Address</label>
                                    <input type="text" id="form6Example4" class="form-control" />
        
                                </div>
                            </div>
        
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="form-outline ">
                                    <label class="form-label" for="form6Example3">Employee Code</label>
                                    <input type="text" id="form6Example3" class="form-control" />
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-outline ">
                                    <label class="form-label" for="form6Example3">Department</label>
                                    <input type="text" id="form6Example3" class="form-control" />
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-outline ">
                                    <label class="form-label" for="form6Example3">Leval</label>
                                    <input type="text" id="form6Example3" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </app-accordion>
            
            <app-accordion [headerText]="' Family Details'" [accordionColor]="'bg-secondary'">
                <div class="row">
                    <div class="col-3">
                        <div class="form-outline">
                            <label class="form-label" for="form6Example1">Dob</label>
                            <input type="text" id="form6Example1" class="form-control" />
        
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-outline">
                            <label class="form-label" for="form6Example2">Age</label>
                            <input type="text" id="form6Example2" class="form-control" />
        
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="form-outline ">
                            <label class="form-label" for="form6Example3">Mother Name</label>
                            <input type="text" id="form6Example3" class="form-control" />
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-outline ">
                            <label class="form-label" for="form6Example3">Father Name</label>
                            <input type="text" id="form6Example3" class="form-control" />
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-outline ">
                            <label class="form-label" for="form6Example3">Contact No</label>
                            <input type="text" id="form6Example3" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-outline ">
                            <label class="form-label" for="form6Example4">Address</label>
                            <input type="text" id="form6Example4" class="form-control" />
        
                        </div>
                    </div>
        
                </div>
        
            </app-accordion>
             
            <app-accordion [headerText]="' Education Background'" [accordionColor]="'bg-success'">
                <div class="row">
                    <div class="col-3">
                        <div class="form-outline">
                            <label class="form-label" for="form6Example1">Highest Education</label>
                            <input type="text" id="form6Example1" class="form-control" />
        
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-outline">
                            <label class="form-label" for="form6Example2">Highest Education %</label>
                            <input type="text" id="form6Example2" class="form-control" />
        
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="form-outline ">
                            <label class="form-label" for="form6Example3">12th %</label>
                            <input type="text" id="form6Example3" class="form-control" />
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-outline ">
                            <label class="form-label" for="form6Example3">10th %</label>
                            <input type="text" id="form6Example3" class="form-control" />
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-outline ">
                            <label class="form-label" for="form6Example3">School Name</label>
                            <input type="text" id="form6Example3" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-outline ">
                            <label class="form-label" for="form6Example4">Any gap if any </label>
        
                            <textarea class="form-control">
        
                                </textarea>
                        </div>
                    </div> 
                </div> 
            </app-accordion>
            
            <div class="row mt-2">
                <div class="col-6 text-end">
                    <button class="btn btn-secondary">Cancel</button>
                </div>
                <div class="col-6 ">
                    <button class="btn btn-success">Save</button>
                </div>
            </div>
        </div>
    </div>
   

</div>